/*Boxes*/
.boxes.articlewrapper.boxed {max-width: 1186px;}
.boxes .autogrid_wrapper {/*display: table;*/ border-collapse: separate;border-spacing: 30px 10px; width:100%;}
.boxes .ce_road {border: 15px solid rgba(234,234,234,1);padding-left:1%;padding-right:1%; margin:5px}
.boxes .ce_airandsea{border: 15px solid rgba(234,234,234,1);padding-left:1%;padding-right:1%;margin:5px}
.boxes .ce_logistic {border: 15px solid rgba(234,234,234,1);padding-left:1%;padding-right:1%;margin:5px}
.boxes .ce_career {border: 15px solid rgba(234,234,234,1);padding-left:1%;padding-right:1%;margin:5px}
.box_content p a {color:#969696;}
.box_content {text-align: center;width: 100%;}
.box_content form {text-align:center;}
.mod_article .customelement_layout_box .box_content ul {list-style-type:disc; padding-left:50px; color:rgba(73,73,72,1); }
.mod_article .customelement_layout_box .ce_image .image_container img {padding-top:0px;}
.mod_article .customelement_layout_box .ce_image .image_container {margin-bottom: 0px;}
.mod_article .customelement_layout_box h4 {font-size:24px; color:rgba(73,73,72,1); font-family:'RobotoCondensedBold';}
.mod_article .customelement_layout_box p {font-size:15px; color:rgba(73,73,72,1); font-family:'RobotoRegular';}




/*Location Card*/

#map_container{width:600px;height:486px;margin:15px;padding:5px;border:none;color:#fff;float:left}
#map{opacity:0;margin-top:4px}
#info{background-color:#fff;float:right;width:380px;padding:0 1%;overflow:auto;overflow-y:auto;overflow-x:hidden;margin-left:5px}
#info.trainingcenter{background-color:#fff;float:right;width:500px;padding:0 1%;overflow:auto;overflow-y:auto;overflow-x:hidden;margin-left:5px}

#navigation{clear:both;width:100%;text-align:center}
#locationlist{display:none;clear:both;width:100%;text-align:center; margin-top: 25px;}
.jvectormap-tip{z-index:999}
.buttonCommon{font-family:'RobotoRegular';background:#E7E7E7;color:#888;font-size:14px;font-weight:700;margin-right:1px;border-radius:1px;-webkit-border-radius:1px;-moz-border-radius:1px;padding:8px 15px;cursor:pointer}
.buttonCommon:hover{background-color:#fff !Important; border:0px !important; border-bottom:3px solid #e30613 !Important;color:#333 !Important;}
.buttonAktiv{background:#fff;border-bottom:3px solid #e30613;color:#333}
.jvectormap-label ul{padding:5px 10px;margin:0 10px}

#info h2{margin:30px 0 10px}
.eco_map_info_list{padding:0;width:315px;color:#4d4d4d}

circle.jvectormap-marker{cursor:pointer}
.ui-widget-header{background-color:#1969b4;background-image:none;color:#fff}



.rightSide {float:right;}
.leftSide {float:left; max-width: 60%; color:#4d4d4d}

.clear{clear: both;}

.icongray{-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.map_container {height:155px;border:2px solid #4d4d4d;margin-top:15px;}
.map_container_add_content{border:2px solid #4d4d4d;margin-top:15px;}
.map_vcard_close {width:30px;height:30px;float:right;margin:-163px -16px 0;text-align:center;background: url(/system/modules/branchlist/assets/images/x.png);background-size: 30px 30px;background-repeat: no-repeat;}
.map_cardlogogeis {width:100px;height:100px;float:right;margin:-145px 5px 0;text-align:center;background: url(/system/modules/branchlist/assets/logos/geis.png);background-size: 100px 100px;background-repeat: no-repeat;}
.map_cardlogolechner {width:110px;height:60px;float:right;margin:-151px 0 0;text-align:center;background: url(/system/modules/branchlist/assets/logos/lechner.png);background-size: 110px 60px;background-repeat: no-repeat;}
.map_cardlogobischoff {width:100px;height:50px;float:right;margin:-147px 15px 0;text-align:center;background: url(/system/modules/branchlist/assets/logos/bischoff.png);background-size: 100px 50px;background-repeat: no-repeat;}
.map_cardlogogt {width:100px;height:100px;float:right;margin:-145px 5px 0;text-align:center;background: url(/system/modules/branchlist/assets/logos/gt.png);background-size: 100px 100px;background-repeat: no-repeat;}
.map_cardlogotas {width:100px;height:100px;float:right;margin:-145px 5px 0;text-align:center;background: url(/system/modules/branchlist/assets/logos/tas.png);background-size: 100px 100px;background-repeat: no-repeat;}


div.map_container_add_content > div.addContent ul {
	list-style: disc;
	margin-left: 20px;
}
div.map_container_add_content > div.addContent ul > li:hover {
	text-decoration:underline;
}

/*************
Default Theme
*************/
/* overall */
#resultTable {
	width: 100%;
	font: 12px/18px Arial, Sans-serif;
	color: #333;
	background-color: #fff;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}

/* header */
#resultTable th,
#resultTable thead td {
	font: bold 12px/18px Arial, Sans-serif;
	color: #000;
	background-color: #fff;
	border-collapse: collapse;
	border-bottom: #ccc 2px solid;
	padding: 0;
}
#resultTable tfoot th,
#resultTable tfoot td {
	border: 0;
}
#resultTable .header,
#resultTable .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
	padding: 4px 20px 4px 4px;
}
#resultTable thead .headerSortUp,
#resultTable thead .tablesorter-headerSortUp,
#resultTable thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #000 2px solid;
}
#resultTable thead .headerSortDown,
#resultTable thead .tablesorter-headerSortDown,
#resultTable thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #000 2px solid;
}
#resultTable thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

/* tfoot */
#resultTable tfoot .tablesorter-headerSortUp,
#resultTable tfoot .tablesorter-headerSortDown,
#resultTable tfoot .tablesorter-headerAsc,
#resultTable tfoot .tablesorter-headerDesc {
	border-top: #000 2px solid;
}

/* tbody */
#resultTable td {
	background-color: #fff;
	border-bottom: #ccc 1px solid;
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors */
#resultTable tbody > tr:hover > td,
#resultTable tbody > tr.even:hover > td,
#resultTable tbody > tr.odd:hover > td {
	background: #fff;
	color: #000;
}

/* table processing indicator */
#resultTable .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
#resultTable tr.odd td {
	background-color: #dfdfdf;
}
#resultTable tr.even td {
	background-color: #efefef;
}

/* Column Widget - column sort colors */
#resultTable tr.odd td.primary {
	background-color: #bfbfbf;
}
#resultTable td.primary,
#resultTable tr.even td.primary {
	background-color: #d9d9d9;
}
#resultTable tr.odd td.secondary {
	background-color: #d9d9d9;
}
#resultTable td.secondary,
#resultTable tr.even td.secondary {
	background-color: #e6e6e6;
}
#resultTable tr.odd td.tertiary {
	background-color: #e6e6e6;
}
#resultTable td.tertiary,
#resultTable tr.even td.tertiary {
	background-color: #f2f2f2;
}

/* caption */
caption {
	background: #fff;
}

/* filter widget */
#resultTable .tablesorter-filter-row td {
	background: #eee;
	border-bottom: #ccc 1px solid;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
#resultTable .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
#resultTable .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
#resultTable .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
#resultTable .tablesorter-filter {
	width: 95%;
	height: auto;
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
	display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}


